@mixin section-title {

  font-family:"Poppins",sans-serif;
  font-size:43px;
  font-weight:900;
  letter-spacing:-1px;

  @media (max-width:$bp-xs){
    font-size:32px;
  }

}


@mixin text-secondary {
  font-family:"Poppins",sans-serif;
  font-size: 16px;
  color:#969696;

}