.form {
  display: flex;
  flex-direction: column;
  flex: 1;
  color: $color-white;
  font-family: "Poppins", sans-serif;

  &__title {
    text-transform: uppercase;
  }

  &__label {
    font-size: 16px;
    font-weight: 400;
    color: $color-text-secondary
  }

  &__input {
    appearance: none;
    border: none;
    background: none;
    color: inherit;
    font-weight: 400;
    font-size: 18px;
  }

  &__group {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-top: 25px;
    padding-bottom: 20px;
    border-bottom: 1px solid #263741;
    box-sizing: border-box;

    .select-wrapper {
      position: relative;

      select {
        background: transparent;
        border: none;
        color: white;
        font-size: 18px;
        width: auto;
        cursor: pointer;
      }
    }
  }

  button {
    margin-top: 32px;
  }
}